header{

background-color: #5f6d7e;



  h1,p{
    color: white;
  }

  h1{

    margin: 0;
    margin-bottom: 5px;
  }

  p{
    font-size: 1.125rem;
    margin: 0;
  }

}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.profile-image{
  height: 150px;
  width: 150px;
  border: 4px solid white;
  border-radius: 500px;
  margin-bottom: 20px;

overflow: hidden;

}


