.hero{

  background-color: white;
  background-image: url("../../images/7.jpg");
  img{
    width: 100%;
  }

}
.texte-bienvenue{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min(400px);
  padding: 20px;
  background-color: rgba(95,109,126,0.4);

  h2,p{
    margin-left: 1rem;
    line-height: 1.2;
    color: white;
  }

  p{
    font-size: 22px;
  }
}


