.nav-principale{
  margin: 0;
  padding: 0;

ul{
  list-style: none;
  margin-bottom: 0;
}

  a{
    color: white;
    display: flex;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;


  }

  icon{
    font-size:1.5rem;

  }
  i{
margin-right: 15px;
  }
  a:hover{
    background-color: $survolLien;
  }
}

.show-menu{
  display:block;
  text-align: center;
  color: white;
  background-color: #555555;
  padding-top: 10px;
  padding-bottom: 10px;



}
#show-menu{
  display: none;
}

input+ul{
  display: none;
}
input:checked+ul{
  display: block;
}