//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 


$textcolor:#777777;
$backgroundColor:#ffffff;
$colorMenucoter:#5f6d7e;
$colorTitre:#555555;
$colorLien:#ffffff;
$survolLien:darken($colorMenucoter,5%);
$activeLien:darken($colorMenucoter,15%);

