//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

$fontsize:1rem;
$lignHeigth:1.5;

/// Font family

$fontRoboto:Roboto,Helvetica,Arial,"sans-serif";



/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
